
.about-div{
    background-color: rgb(19, 19, 19);
    min-height: 100vh;
    /* width: 80%; */
    
    /* margin-top: 0; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    display: grid;
    place-items: center;
    margin: auto;
    gap:25px;
}
.name-div{
    margin: auto;
    text-align: center;
    
}
.title-font-size{
    font-size: calc(6rem - 1em);
}
.name{
   
    /* font-size:10rem; */
    /* font-size: calc(6rem - 1em); */
    color: rgb(252, 249, 70);
  
    /* font-family: 'Dancing Script', cursive; */
    
    margin: auto;
    text-align: center;
    margin-top: 0;
    transition: 0.5s;
    filter: blur(0px);
}
.content-about{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
    align-items: center;
    gap: 25px;
    
}
.presentation-div{
    width: 50%;
    margin-top: 50px;
    min-width: 300px;
  
    text-align: justify;
 
    font-size: 1.2rem;
}
span{
    color: rgb(252, 249, 70);
    opacity: 1;
    animation: fadeInAnimation ease 3s;
   
}

.profile-photo{
  
    border-radius: 400px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 275px;
   
    transition: 0.5s;
    cursor: pointer;
  
    box-shadow: 0px 10px 10px 0px black;
    opacity: 1;
    animation: fadeInAnimation ease 3s;
    
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

 
 @media all and (max-width: 715px) {
    .content-about{
        gap: 0;
    }

    .title-font-size{
        font-size: calc(5rem - 1em);
    }
    
    .profile-photo{
        width: 250px;
    }
  } 
  
/*
@media screen and  (min-width: 741px) and (max-width: 1340px) {
    .App{
        width: 50%;
        margin: auto;
    }
    .content-about{
        
         margin: auto;
        flex-flow: column;
        }
    .name{
        color: rgb(0, 120, 136);
       font-size: calc(9rem - 1em);
        
    }
    .profile-photo{
        margin:auto;
    }
    .presentation-div{

        margin:auto;
        margin-top: 25px;
    }

} */

