*{
  -webkit-tap-highlight-color: transparent;
}
body{
  text-align: center;
  background-color: #282c34;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  color: #61dafb;
  font-family: 'Assistant', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(19, 19, 19 );
}
.App {
  text-align: center;
  background-color: #282c34;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  background-color: rgb(36, 36, 36);
  background-color: rgb(19, 19, 19 );
  display: grid;
  grid-column: 1fr;
  
  align-items: center;
  margin: auto;
}

.profile-photo:hover{
  transition: 0.5s;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.projects-title{
  /* font-size: calc(6rem - 1em); */
  color: rgb(252, 249, 70);
  
}
.projects{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

  row-gap: 50px;
  justify-content: space-evenly; */
  width: 80%;
  margin: auto;
 display: grid;
 grid-auto-rows: auto;
 align-items: center;
 text-align: center;
 grid-template-columns: repeat(3, minmax(30%, 2fr));
 grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
 justify-content: center;
  gap: 50px;
 
}



